a {
    text-decoration: underline;
}

body::after {
    background-image: url('homie.png');
    background-size: 20% 30%;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    opacity: 0.0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;   
}

#class-header {
    margin-bottom: 2%;
    margin-top: 5%;
    text-align: center;
}

#course-topics > li {
    margin-bottom: 2em;
}

.name {
    font-weight: bold;
}

section {
    margin-bottom: 2.5em;
}

#staff-header {
    text-decoration: bold;
}

.topic-slides {
    font-weight: bold;
    text-decoration: none;
}

.topic-slides:hover {
    text-decoration: none;
}

.staff {
    border: 2px solid black;
    margin-bottom: 3%;
    padding-left: 1em;
    padding-top: 1em;
}

#staff-info {
    margin-bottom: 5%;
}